**/target/*
*.class
*.war
*.ear
*.ipr
*.iml
*.iws
*.log
*.idea
*.pyc
.DS_Store
target
*.hprof
*.hprof.*
dependency-reduced-pom.xml
scratch/
.tmp/
.sass-cache/
worksheet.sc
.profiler/
*~
*.Rhistory
/.project
